{% extends "PkwCheckBundle:Secured:layout.html.twig" %}

{% block title "Hello " ~ user.username %}

{% block content %}
    <h1 class="title">Hello {{ user.username }} secured for Admins only!</h1>
{% endblock %}
